#board {
  overflow: visible;
  margin: 0 auto;
  width: 1024px;
  font-family: 'Open Sans', sans-serif;
}

.die {
  border: 1px solid #949494;
  background-color: white;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  cursor: default;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.die-row {
  width: 80%;
  height: 33%;
  margin: 0 auto;
}

.die-row:nth-of-type(1) {
  margin-top: 3px;
}

.die-column {
  width: 33%;
  height: 60%;
  float: left;
}

.die .eye {
  background-color: black;
  border-radius: 100%;
  -webkit-transform: scale(0.8,0.8);
     -moz-transform: scale(1,1);
      -ms-transform: scale(1,1);
       -o-transform: scale(1,1);
          transform: scale(1,1);
}

#player-area {
	position: absolute;
	top: 520px;
}

#enemy-area {
	position: absolute;
	top: 80px;
}

#player-hand {

}

#player-hand .card {
  float: left;
  margin-right: -68px;
}

#player-deck {
	position: absolute;
	left: 250px;
}

#player-deck .card {
	float: left;
	margin-right: -150px;
}

#player-die {
  position: absolute;
  top: 45px;
  left: 430px;
}

#enemy-deck {
	position: absolute;
	left: 275px;
}

#enemy-deck .card {
	float: left;
	margin-right: -150px;
}

#enemy-hand {
	
}

#enemy-hand .card {
  float: left;
  margin-right: -52px;
}

#enemy-die {
  position: absolute;
  top: 38px;
  left: 450px;
}

.zoom {
  z-index: 0;
  -webkit-transform: translate(-12px, -30px) scale(1.1,1.1) rotate(12deg);
     -moz-transform: translate(-12px, -30px) scale(1.1,1.1) rotate(12deg);
      -ms-transform: translate(-12px, -30px) scale(1.1,1.1) rotate(12deg);
       -o-transform: translate(-12px, -30px) scale(1.1,1.1) rotate(12deg);
          transform: translate(-12px, -30px) scale(1.1,1.1) rotate(12deg);
  transition: 0.2s ease;
}

.normal {
  z-index: 0;
  -webkit-transform: scale(1,1);
     -moz-transform: scale(1,1);
      -ms-transform: scale(1,1);
       -o-transform: scale(1,1);
          transform: scale(1,1);
  transition: 0.1s ease;
}

#specials {
	position: relative;
	left: 440px;
	top: 250px;
}

#specials .card {
	float: left;
  margin-right: -150px;
}

#played-area {
	position: relative;
	top: 250px;
}

#played-area .card {
	float: left;
  margin-right: -10px;
}