#manual {
	position: relative;
	overflow: visible;
	margin: 0 auto;
	padding-left: 24px;
	padding-top: 16px;
	width: 1024px;
	font-family: 'Open Sans', sans-serif;
}

#logo-container {
	width: 81%;
	margin: 0 auto;
	margin-bottom: 72px;
}

#logo {
    background:url('images/trickbook.png') no-repeat top left;
	width: 150px;
	height: 47px;
	opacity: 0.3;
}

#info {
	position: relative;
	float: left;
	left: -200px;
	top: 300px;
	text-align: right;
}

#description {
	font-family: 'Annie Use Your Telescope', cursive;
	font-weight: lighter;
	font-size: 2.2em;
}

#signature {
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 3.4em;
	font-weight: normal;
}

#requirements {
	width: 81%;
	margin: 0 auto;
}

#tricks {
	/*overflow: hidden;*/
}

#specials {
	/*overflow: hidden;*/
}

.card {
	position: relative;
	background-color: white;
	overflow: visible;
	border: 1px solid #949494;
	border-radius: 12px;
	width: 100px;
	height: 140px;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#tricks .card {
	float: left;
	margin: 2px;
}

#specials .card {
	float: left;	
	margin: 2px;
}

#explanations {
	position: relative;
	top: 420px;
}

.card-inner-frame {
	border: 1px solid #949494;
	border-radius: 8px;
	width: 85%;
	height: 64%;
	margin: auto;
	margin-top: 6%;
}

.card-inner-frame-title-block {
	width: 40%;
	height: 3px;
	position: relative;
	top: -2px;
	margin: auto;
	background-color: white;
}

.card-value {
	position: relative;
	top: -16px;
	left: -2px;
	text-align: center;
	font-family: 'Shadows Into Light';
	font-size: 2.1em;
}

.card-name {
	position: relative;
	font-family: 'Annie Use Your Telescope', cursive;
	margin-top: 10px;
	margin-left: 8px;
	font-size: 1.2em;
	font-weight: normal;
	text-align: left;
}

.card-requirement {
	float: left;
	margin-bottom: 20px;
}

.card-requirement-amount {
	top: 12px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: lighter;
	font-size: 1.5em;
	top: 12px;
	position: relative;
	margin-bottom: 12px;
	text-align: center;
	color: #ADADAD;
}

.explanation {
	position: absolute;
	margin: 0 auto;
	width: 50%;
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 1.2em;
	font-weight: normal;
	text-align: left;
}

#explanation-psyche {
	left: -50px;
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}

#explanation-focus {
	left: 120px;
  -webkit-transform: rotate(-2deg);
     -moz-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
       -o-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

#explanation-steal {
	width: 32%;
	left: 254px;
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}

#explanation-first {
	left: 301px;
  -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
       -o-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

#explanation-onemore {
	left: 539px;
	margin-top: 10px;
  -webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
       -o-transform: rotate(5deg);
          transform: rotate(5deg);
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
	#logo {
		background:url('images/trickbook@2x.png') no-repeat top left;
        background-size: 150px 47px;  
        opacity: 0.1;
	}
}

#trick-ollie.zoom {
    z-index: 1;
  -webkit-transform: scale(2,2) rotate(-5deg);
     -moz-transform: scale(2,2) rotate(-5deg);
      -ms-transform: scale(2,2) rotate(-5deg);
       -o-transform: scale(2,2) rotate(-5deg);
          transform: scale(2,2) rotate(-5deg);
    transition: 0.2s ease;
}

#trick-ollie.normal {
    z-index: 0;
  -webkit-transform: scale(1,1) rotate(2deg);
     -moz-transform: scale(1,1) rotate(2deg);
      -ms-transform: scale(1,1) rotate(2deg);
       -o-transform: scale(1,1) rotate(2deg);
          transform: scale(1,1) rotate(2deg);
    transition: 0.1s ease;
}

#trick-shuvit.zoom {
    z-index: 1;
  -webkit-transform: scale(2,2) rotate(-3deg);
     -moz-transform: scale(2,2) rotate(-3deg);
      -ms-transform: scale(2,2) rotate(-3deg);
       -o-transform: scale(2,2) rotate(-3deg);
          transform: scale(2,2) rotate(-3deg);
    transition: 0.2s ease;
}

#trick-shuvit.normal {
    z-index: 0;
  -webkit-transform: scale(1,1) rotate(-1deg);
     -moz-transform: scale(1,1) rotate(-1deg);
      -ms-transform: scale(1,1) rotate(-1deg);
       -o-transform: scale(1,1) rotate(-1deg);
          transform: scale(1,1) rotate(-1deg);
    transition: 0.1s ease;
}

#trick-kickflip.zoom {
    z-index: 1;
  -webkit-transform: scale(2,2) rotate(5deg);
     -moz-transform: scale(2,2) rotate(5deg);
      -ms-transform: scale(2,2) rotate(5deg);
       -o-transform: scale(2,2) rotate(5deg);
          transform: scale(2,2) rotate(5deg);
    transition: 0.2s ease;
}

#trick-kickflip.normal {
    z-index: 0;
  -webkit-transform: scale(1,1) rotate(-2deg);
     -moz-transform: scale(1,1) rotate(-2deg);
      -ms-transform: scale(1,1) rotate(-2deg);
       -o-transform: scale(1,1) rotate(-2deg);
          transform: scale(1,1) rotate(-2deg);
    transition: 0.1s ease;
}

#trick-heelflip.zoom {
    z-index: 1;
  -webkit-transform: scale(2,2) rotate(5deg);
     -moz-transform: scale(2,2) rotate(5deg);
      -ms-transform: scale(2,2) rotate(5deg);
       -o-transform: scale(2,2) rotate(5deg);
          transform: scale(2,2) rotate(5deg);
    transition: 0.2s ease;
}

#trick-heelflip.normal {
    z-index: 0;
  -webkit-transform: scale(1,1) rotate(2deg);
     -moz-transform: scale(1,1) rotate(2deg);
      -ms-transform: scale(1,1) rotate(2deg);
       -o-transform: scale(1,1) rotate(2deg);
          transform: scale(1,1) rotate(2deg);
    transition: 0.1s ease;
}

#trick-impossible.zoom {
    z-index: 1;
  -webkit-transform: scale(2,2) rotate(1deg);
     -moz-transform: scale(2,2) rotate(1deg);
      -ms-transform: scale(2,2) rotate(1deg);
       -o-transform: scale(2,2) rotate(1deg);
          transform: scale(2,2) rotate(1deg);
    transition: 0.2s ease;
}

#trick-impossible.normal {
    z-index: 0;
  -webkit-transform: scale(1,1) rotate(0deg);
     -moz-transform: scale(1,1) rotate(0deg);
      -ms-transform: scale(1,1) rotate(0deg);
       -o-transform: scale(1,1) rotate(0deg);
          transform: scale(1,1) rotate(0deg);
    transition: 0.1s ease;
}

#trick-tre.zoom {
    z-index: 1;
  -webkit-transform: scale(2,2) rotate(5deg);
     -moz-transform: scale(2,2) rotate(5deg);
      -ms-transform: scale(2,2) rotate(5deg);
       -o-transform: scale(2,2) rotate(5deg);
          transform: scale(2,2) rotate(5deg);
    transition: 0.2s ease;
}

#trick-tre.normal {
    z-index: 0;
  -webkit-transform: scale(1,1) rotate(2deg);
     -moz-transform: scale(1,1) rotate(2deg);
      -ms-transform: scale(1,1) rotate(2deg);
       -o-transform: scale(1,1) rotate(2deg);
          transform: scale(1,1) rotate(2deg);
    transition: 0.1s ease;
}

#trick-hardflip.zoom {
    z-index: 1;
  -webkit-transform: scale(2,2) rotate(5deg);
     -moz-transform: scale(2,2) rotate(5deg);
      -ms-transform: scale(2,2) rotate(5deg);
       -o-transform: scale(2,2) rotate(5deg);
          transform: scale(2,2) rotate(5deg);
    transition: 0.2s ease;
}

#trick-hardflip.normal {
    z-index: 0;
  -webkit-transform: scale(1,1) rotate(-1deg);
     -moz-transform: scale(1,1) rotate(-1deg);
      -ms-transform: scale(1,1) rotate(-1deg);
       -o-transform: scale(1,1) rotate(-1deg);
          transform: scale(1,1) rotate(-1deg);
    transition: 0.1s ease;
}