<div style="height: 100%; border: 1px solid black;">
  <div style="height: 40%; position: relative; padding-left: 10mm; background-color: black;">
    <div style="position: absolute; bottom: 5mm; color: white;">
      <img src="https://rawgit.com/jhauberg/trickbook/master/logo.png" style="filter: invert(100%);">
      <h2 style="font-size: 1.4em;">A GAME OF S.K.A.T.E FOR RAINY DAYS</h2>
    </div>
  </div>
  <div style="padding: 5mm 10mm 10mm 10mm;">
    <p>
      THIS GAME IS COMPLETELY FREE TO PRINT, PLAY AND ENJOY!
    </p>
    <p>
      COPYRIGHT {{ _copyright }} {{ _author }}
    </p>
    <p>
      <em>Last updated {{ date }}, {{ _version }}</em>
    </p>
    <hr>
    <br />
    <p>
      <strong>Components:</strong>
    </p>
    <ul>
      <li>30 Trick cards</li>
      <li>20 Action cards</li>
      <li>1 Leader card</li>
      <li>25 Letter tokens</li>
    </ul>
    <p>
      <strong>Follow these assembly instructions:</strong>
    </p>
    <ol>
      <li>Print all pages containing cards</li>
      <li>(<em>Optional</em>) Print all pages containing tokens
        <ul>
          <li>You can use your own tokens instead of the included letters</li>
        </ul>
      </li>
      <li>Cut, Assemble and Sleeve your cards</li>
      <li>Read the <a href="https://docs.google.com/document/d/19CGynwB49lEbvsGULjYqV921KQXdAKxYiFJ7cKa4m7Q/edit?usp=sharing">rules</a></li>
      <li>Play!</li>
    </ol>
    <p>
      Note that you will also need to add two 6-sided dice (preferably of different colors).
    </p>
    <p>
      Now you're ready to play! Have fun!
    </p>
  </div>
</div>
